// Color


// BASE
$baseBlue: #1155cc;
$baseGreen: #6dad53;

// BG
$bodyBg: #e6e3e3;
$baseGray: #454a4b;
$semiBasegray: #555555;


// Text color

$regularText: $baseGray;
$link: #004eff;
$linkSelected: #000000;
