* {
  box-sizing: border-box;
}

// Compass library
@import "compass/css3";

body {

  background-color: $bodyBg;
  line-height: 1.4em;

  // To facilitate consistent footer positioning
  min-height: 100vh;
  position: relative;
  margin-top: 30px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
* li {
  list-style: none;
}

* ul {
  margin: 0;
  padding: 0;
}

* img {
  display: block;
}

input, a, button, textarea {
  &:focus {
    outline: none;
  }
}

button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


$container-width: 890px;
/* Containers */
[class^=container] {
  margin: 0 auto;
}

.container {
  width: $container-width;
  margin: 0 auto;
  border: 1px solid red;
}



